.gradual-blur {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.gradual-blur.from-top {
  bottom: auto;
  top: 0;
  flex-direction: column-reverse;
}

.blur-layer {
  flex: 1;
  width: 100%;
}
